<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RDLCReportingInWinform.Properties.Settings.RdlcReportDbConnectionString"
            connectionString="Data Source=DESKTOP-JL5HUG0;Initial Catalog=RdlcReportDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>